body {
  --background-color-primary: #0f140a;
  --background-color-glow: rgb(37, 11, 61);
  --font-color-primary: blueviolet;
  --font-family: Consolas,monaco,monospace;

  --font-size-main: 16px;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 320px;
    background-color: var(--background-color-primary);
    font-family: var(--font-common);
    pointer-events: painted;
    touch-action: none;
    overscroll-behavior: none;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

div,
span {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

